@media (max-width: 400px) {
    /*Scroll bar*/
    .section-table {
       overflow-x: scroll;
   }

   table {
       min-width: 700px;
   }
   /*Scroll bar*/
   html{
       font-size: 14px;
   }
   body{
       padding-left: var(--padding-small);
       padding-right: var(--padding-small);
   }
   #grid-pagina {
       grid-template-areas: 
           "zona1"
           "zona2"
           "zona5"
           "zona4"
           "zona3"
           "zona6"
           "zona7"
           "zona8";
       grid-template-columns: 1fr;
       grid-gap: 8px;
   }

   #produse {
       grid-template-areas: 
           "reduceri"
           "jocurinoi"
           "populare";
       grid-template-columns: 1fr;
       overflow-x: scroll;
   }

   #prima-impresie {
       grid-template-areas: 
           "prezentare"
           "trailere"
           "trailer1"
           "trailer2";
   }
}