:root {
    --primary-color: #3A506B;
    --dark-accent: #2E3541;
    --light-highlight: #B2C9EB; 
    --vibrant-accent: #97C1FF;
    --text-color: #A5AEBD;
    --white-color: #FFFFFF;
    --padding-large: 30px;
    --padding-medium: 15px;
    --padding-small: 8px;
    --padding-text: 15px;
}
html{
    font-size: 16px;
    transition: font-size 0.3s ease-in-out;
}
header, footer{
    background-color: var(--dark-accent);
    border-radius: 10px;
    padding-left: 15px;
}

p, h2, h3, h1{
    padding: var(--padding-text);
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    font-family: "Roboto";
    line-height: 1.5;
    padding-left: var(--padding-large);
    padding-right: var(--padding-large);
}
img{
    width: 200px; 
    height: 280px; 
    object-fit: cover;
}

/*Table modifications*/
.section-table {
    overflow-x: scroll;
    border-radius: 10px;
    border: 5px solid var(--light-highlight);
    width: 100%; /* Se adaptează complet zonei */
    box-sizing: border-box; /* Include marginile și paddingul */
    margin: 0 auto; /* Centrare pe orizontală */
    padding: 10px;
}
table {
    border-collapse: collapse;
    text-align: left;
    background-color: var(--light-highlight);
    color: black;
    width: 100%;
    min-width: 700px;
    max-width: none;
}

caption{
    caption-side: bottom;
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: bold;
}

thead th{
    background-color: var(--dark-accent);
    color: var(--white-color);
}

tbody td:nth-child(even){
    background-color: var(--vibrant-accent);
}

tbody td:nth-child(odd){
    background-color: var(--light-highlight);
}

/*Change all cells from a row when a cell is hovered*/
tbody tr:hover td{
    background-color: white ;
    transition: background-color 0.2s ease-in-out;
}
/*Change that cell specifically to a different color than the rest */
tbody td:hover {
    background-color: var(--dark-accent) !important; /* Culoare pentru celula curentă */
    color:white;
    transition: background-color 0.2s ease-in-out;
}
tfoot td {
    background-color: var(--dark-accent);
    color: var(--white-color);
    padding: 10px;
    text-align: center;
}
tfoot td:hover {
    background-color: var(--vibrant-accent);
    color: var(--dark-accent);
    transition: background-color 0.2s ease-in-out;
}
/*Table modifications*/


#grid-pagina{
    display: grid;
    grid-template-areas: "zona1 zona1 zona1"
                        "zona2 zona2 zona8"
                        "zona5 zona6 zona8"
                        "zona4 zona3 zona7"
      ;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 15px;
}
#grid-pagina > *{
    border: 1px solid black;
}
/*iframe customization*/
#prima-impresie{
    grid-area: zona1;
    display: grid;
    grid-template-areas:"prezentare"
                        "trailere";
    gap: 10px;
}
#prezentare{
    grid-area: prezentare;
    text-align: center;
}
#trailere{
    grid-area: trailere;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.taburi-iframe{
    display:flex;
    margin-bottom: 10px;
}
.taburi-iframe a{
    background-color: var(--dark-accent);
    color: var(--white-color);
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    border: 3px solid var(--vibrant-accent);
    border-radius: 0 0 15px 15px;
    transition: background-color 0.3s ease-in-out;
    padding: 8px 12px;
    border-top: none;
    width:150px;
    height: 20px;
}
.taburi-iframe a:hover {
    background-color: var(--vibrant-accent);
    color: var(--dark-accent);
}
.container-iframe{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
}
iframe {
    width: 560px;
    height: 315px;
    border: 3px solid var(--vibrant-accent);
    border-radius: 5px 5px 0 0;
    background-color: var(--white-color); 
}
.trailer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/*iframe customization*/

/*Back to top button*/
#link-top{
  position:fixed;
  bottom:0.3em;
  opacity:0.5;
  left:0.3em;
  width:3rem;
  box-sizing: border-box;
  height:3rem;
  margin-left: 5px;
  margin-bottom: 5px;
  line-height:3rem;
  text-align:center;
  border:2px solid var(--dark-accent);
  background: var(--light-highlight);
  transform: rotate(45deg);
}
#link-top:hover{
  opacity:1;
}
#triunghi{
  height:0px;
  width:0;
  display:inline-block;
  border-bottom:2rem solid var(--dark-accent);
  border-radius: 50%;
  border-left:1rem solid transparent;
  border-right:1rem solid transparent;
  vertical-align: top;
  transform: translateX(-5%) translateY(15%) rotate(-45deg);
  
  
}
/*Back to top button*/
#trailer1{
    grid-area: trailer1;
}
#trailer2{
    grid-area: trailer2;
}
#tabel{
    grid-area: zona2;
    display: block;
    height: auto;
}
#calendar{
    grid-area: zona3;
}
#anunturi{
    grid-area: zona4;
}
#utilizatori{
    grid-area: zona5;
}
#statistici{
    grid-area: zona6;
}
#infosite{
    grid-area: zona7;
}
#produse{
    grid-area: zona8;
    display: grid;
    grid-template-areas: "reduceri"
                            "jocurinoi"
                            "populare";
    
}
#reduceri{
    grid-area: reduceri;
    display: grid;
    grid-template-areas:"header-reduceri header-reduceri header-reduceri"
                        "reduceri1 reduceri2 reduceri3"
                        "catalog-reduceri catalog-reduceri catalog-reduceri";
}
#header-reduceri{
    grid-area: header-reduceri;
}
#catalog-reduceri{
    grid-area: catalog-reduceri;
}
#reduceri1{
    grid-area: reduceri1;
}
#reduceri2{
    grid-area: reduceri2;
}
#reduceri3{
    grid-area: reduceri3;
}
#jocurinoi{
    grid-area:jocurinoi;
}
#populare{
    grid-area:populare;
}
#jocurinoi {
    display: grid;
    grid-template-areas: 
        "header-jocurinoi header-jocurinoi header-jocurinoi"
        "noi1 noi2 noi3";
    gap: 15px;
}

#header-jocurinoi {
    grid-area: header-jocurinoi;
}

#noi1 {
    grid-area: noi1;
}

#noi2 {
    grid-area: noi2;
}

#noi3 {
    grid-area: noi3;
}
#populare {
    display: grid;
    grid-template-areas: 
        "header-populare header-populare header-populare"
        "populare1 populare2 populare3";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

#header-populare {
    grid-area: header-populare;
}

#populare1 {
    grid-area: populare1;
}

#populare2 {
    grid-area: populare2;
}

#populare3 {
    grid-area: populare3;
}

#watermark, #absolut {
    display: none;
}


/* print */
@media print {

    #absolut{
        position: absolute;
        display: inline-block;
        width: 70%;
        border: inset 4px black;
        text-align: center;
        bottom:0;
        /* (100-70)/2 */
        left:15%; 
    }

    #link-top, #trailere, #produse{
        display:none;
    }

    #grid-pagina{
        display: block;
    }

    a {
        text-decoration: none;
    }

    h1{
        text-align: center;
    }
    nav > ul > li > ul{
        display: none;
    }
    nav > ul {
        display: flex;
        flex-direction: column;
    }
    nav {
        page-break-after: always;
    }

    footer {
        page-break-before: always;
    }

    #watermark
		{
			display: block;
			position: fixed;
			bottom: 0;
			color:rgba(0,0,0,0.4);
			right:0;
		}
		#watermark::after{
			
			opacity:0.4;
			padding:5px;
            width: 4cm;
            height: 1cm;
			display: block;
			background: white;
			border:3px solid black;
			border-radius: 10px;
            font-weight: bold;
            text-align: center;
            white-space: pre-wrap;
			content:"Leoveanu \A Radu-Gilbert";
		}
}

@page:left{

    margin-left:3cm;
    margin-right:1cm;
}
@page:right{

    margin-right:3cm;
    margin-left:1cm;
}
/* print */

/* hr stilizat */
.styled-hr {
    border: none;
    height: 10px;
    background: linear-gradient(to right, currentColor, transparent 40%, transparent 60%, currentColor);
    border-radius: 3px;
    position: relative;
    margin: 20px 0;
    overflow: visible;
}

.styled-hr::before {
    content: "*"; 
    position: absolute;
    height:50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px !important; 
    color: var(--text-color);
    padding: 0 5px;
    z-index: 1;
}
/* hr stilizat */

/* text reflect */
#text {
    position: relative; /* Asigură-te că #text are poziționare relativă */
}

#reflexie-titlu {
    transform-origin: 0 0;
    filter: blur(1px);
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(44px,47px); /* Ajustează valorile translate */
    opacity: 0.55;
    transition: transform 0.3s ease;
}

#reflexie-titlu:hover {
    transform: rotateX(180deg) skew(-45deg) scaleY(0.8) translate(44px,15px);
}
/* text reflect */