<footer>
    <h2>Contact</h2>
    <address id="contact">
        Strada Academiei 14, București 010014, România <br>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4358725,26.0981222,17z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D">Vezi pe Google Maps</a> <br>
        Tel: 0002910982174 <br>
        Email: <a href="mailto:radu-gilbert.leoveanu@s.unibuc.ro">radu-gilbert.leoveanu@s.unibuc.ro</a>
    </address>
    <a href="/index#" id="link-top" title="Mergi la inceputul paginii"><div id="triunghi"></div></a>
    <small>
        &copy; <time datetime="2024-10-22">2024</time> Toate drepturile rezervate.
    </small>
    <p id="absolut">Acesta este un proiect școlar!</p>
    <p id="watermark"></p>
</footer>